<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Page Title</title>
</head>
<body>

        <h1>hello this is from the django tamplates sick man </h1>
        <h2>brooo this is kind of cool acully yooooo hehehe bro now i need to know how to send data to the templates how do you think i do that ????</h2>
        {% for i in list%}
        <h1>
            {{i}}
        </h1>

        {% endfor %}
        <h1>------------------------------</h1>
        {% for i in filescsv%}
        <h1>
            {{i}}
        </h1>

        {% endfor %}
        <h1>------------------------------</h1>
        {% for i in filespdf%}
        <h1>
            {{i}}
        </h1>

        {% endfor %}


</body>
</html>
