<!doctype html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chat Window</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}" />
  </head>
  <body>
    <div class="login-container">
      <div class="logo">
        <img src="{% static 'staticphotos/Fyes10.png' %}" alt="My Image" />
      </div>

      <h2>Select a Profile</h2>

      <div class="profiles">
        {% for i in list%}
        <div class="profile">
            <a href="{% url 'chat' dir=i%}">
            <img src="{% static 'staticphotos/Fyes10.png' %}" alt="My Image" />
          </a>
          <p>{{i}}</p>
{
          {% endfor %}
        </div>
      </div>
    </div>
  </body>
</html>
